@charset "UTF-8";

:root {
	--color01: #dcc0f4;
	--color02: #ffd9df;
	--color03: #87ceeb;
	--color04: #e5dcf0;
	--gutter: 20px;
	--width: 800px;
	--height: var(--width);
	--middle-child-width: calc(var(--width) / 4);
	--bottom-child-width: calc(var(--width) / 2);
	--bottom-child-height: 100px;
	--bottom-height: calc(var(--bottom-child-height) * 3);
	--offset: calc(calc(var(--width) - calc(var(--middle-child-width) * 3)) / 2);
}

#top {
	background-color: var(--color01);
	width: var(--width);
	margin: var(--gutter) auto;
	text-align: center;
}

.top-child {
	background-color: var(--color02);
	display: inline-block;
	width: 20%;
}

#middle {
	background-color: var(--color02);
	width: var(--width);
	height: var(--height);
	margin: var(--gutter) auto;
	position: relative;
}

#middle div {
	background-color: var(--color03);
	width: var(--middle-child-width);
	height: var(--middle-child-width);
}

.middle-child01 {
	position: absolute;
	top: var(--offset);
	left: var(--offset);
}

.middle-child02 {
	position: absolute;
	top: calc(var(--offset) + var(--middle-child-width));
	left: calc(var(--offset) + var(--middle-child-width));
}

.middle-child03 {
	position: absolute;
	top: calc(var(--offset) + calc(var(--middle-child-width) * 2));
	left: calc(var(--offset) + calc(var(--middle-child-width) * 2));
}

#bottom {
	background-color: var(--color03);
	width: var(--width);
	height: var(--bottom-height);
	margin: var(--gutter) auto;
}

#bottom div {
	background-color: var(--color04);
	width: var(--bottom-child-width);
	height: var(--bottom-child-height);
	position: relative;
}

.bottom-child02 {
	left: calc(var(--bottom-child-width) / 2);
}

.bottom-child03 {
	left: calc(var(--bottom-child-width));
}